$color-white: #fff;
$color-black: #000;

$color-gray: #999999;
$color-gray-light: #dddddd;

$theme-colors: (
  "netshoes-gray": #202025,
  "netshoes-gray-light": #313135,
  "netshoes-gray-dark": #131316,
  "netshoes-yellow": #dfbd00,
);
