<div class="float-cart" [class.float-cart--opened]="floatCartOpened">
  <div class="float-cart__open-close-button" (click)="toggleOpened()">
    <span class="bag"><span class="bag__quantity">{{service.storage.list.length}}</span></span>
    <div class="close"></div>
  </div>
  <div class="float-cart__content">
    <div class="float-cart__header">
      <span class="bag"><span class="bag__quantity">{{service.storage.list.length}}</span></span>
      <span class="header-title">Sacola</span>
    </div>

    <div class="float-cart__shelf-container">
      <ng-template [ngIf]="service.storage.list.length > 0">
        <ng-template ngFor let-item [ngForOf]="service.storage.list" let-i="index">
          <div class="shelf-item" [class.shelf-item--mouseover]="removeItem == i">

            <div class="shelf-item__thumb">
              <div class="thumb-container">
                <img [attr.src]="'./../../assets/images/' + item.product.sku+'.jpg'" [attr.alt]="item.product.title">
              </div>
            </div>
            <div class="shelf-item__details">
              <div class="title">{{ item.product.title }} {{ item.product.description }}</div>
              <div class="desc">{{ item.product.availableSizes }} | {{ item.product.style }}<br>Quantidade:
                {{ item.amount }}</div>
            </div>
            <div class="shelf-item__price">
              <button type="button" class="close shelf-item__del" aria-label="Close" (click)="remove(item)"
                (mouseover)="removeItem = i" (mouseout)="removeItem = null"><span
                  aria-hidden="true">&times;</span></button>
              <div [innerHTML]="item.amount * item.product.price | currencyBRL"></div>
            </div>
          </div>
        </ng-template>
      </ng-template>

      <ng-template [ngIf]="service.storage.list.length === 0">
        <div class="cart-empty">Seu carrinho está vazio :(</div>
      </ng-template>



    </div>
    <div *ngIf="service.storage.subtotal > 0" class="float-cart__footer">
      <div class="sub">SUBTOTAL</div>
      <div class="sub-price">
        <div class="sub-price__val" [innerHTML]="service.storage.subtotal | currencyBRL"></div>
        <div *ngIf="service.storage.installments > 0"><small class="sub-price__installment">ou em até
            {{ service.storage.installments }}x de
            <span [innerHTML]="service.storage.installmentsValue | currencyBRL"></span></small></div>
      </div>
      <button class="btn btn-dark btn-buy">Comprar</button>
    </div>
  </div>
</div>
