@import "./../../assets/scss/colors";

.float-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: map-get($theme-colors, 'netshoes-gray');
    box-sizing: border-box;
    -webkit-transition: right .2s;
    transition: right .2s;

    &__content {
        height: 100%;
        overflow-y: scroll;

        @media screen and (min-width: 640px) {
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 10px;
                background-color: rgba(0, 0, 0, 0.2);
                padding: 10px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: #0c0b10;
            }
        }
    }

    // Header
    &__header {
        color: #ececec;
        box-sizing: border-box;
        text-align: center;
        padding: 45px 0;
    }

    &__footer {
        box-sizing: border-box;
        padding: 5%;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
        z-index: 2;
        background-color: map-get($theme-colors, 'netshoes-gray');

        .sub,
        .sub-price {
            color: #5b5a5e;
            vertical-align: middle;
            display: inline-block;
        }

        .sub {
            width: 20%;
        }

        .sub-price {
            width: 80%;
            text-align: right;

            &__val,
            &__installment {
                margin: 0;
            }

            &__val {
                color: #eabf00;
                font-size: 22px;
            }
        }

        .btn-buy {
            color: #ececec;
            text-transform: uppercase;
            background-color: #0c0b10;
            text-align: center;
            padding: 15px 0;
            margin-top: 40px;
            width: 100%;
            cursor: pointer;

            transition: background-color 0.2s;

            &:hover {
                background-color: #000;
            }
        }
    }

    //float-cart__shelf-container
    &__shelf-container {
        position: relative;
        min-height: 280px;
        padding-bottom: 200px;

        .shelf-item {
            position: relative;
            box-sizing: border-box;
            padding: 5%;
            -webkit-transition: background-color .2s, opacity .2s;
            transition: background-color .2s, opacity .2s;

            &__del {
                width: 16px;
                height: 16px;
                top: 15px;
                right: 5%;
                border-radius: 50%;
                position: absolute;
                background-size: auto 100%;
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAOCAYAAADT0Rc6AAAAGXRFW…4GuYhBdjFIQQxyEYPsYpBGUypyd45DmppSkbtzHJ5rvwIMAKXLCXxfiHXkAAAAAElFTkSuQmCC);
                background-repeat: no-repeat;
                z-index: 2;
                cursor: pointer;
            }

            &__thumb,
            &__details,
            &__price {
                display: inline-block;
                vertical-align: middle;
            }

            &__thumb {
                vertical-align: middle;
                width: 15%;
                margin-right: 3%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &__details {
                width: 57%;

                .title {
                    color: #ececec;
                    margin: 0;
                }

                .desc {
                    color: #5b5a5e;
                    margin: 0;
                }
            }

            &__price {
                color: #eabf00;
                text-align: right;
                width: 25%;
            }

            &--mouseover {
                background: #0c0b10;

                .shelf-item__details {

                    .title,
                    .desc {
                        text-decoration: line-through;
                        opacity: 0.6;
                    }
                }

                .shelf-item__price {
                    text-decoration: line-through;
                    opacity: 0.6;
                }
            }
        }


    }


}
